.card {
    box-shadow: 1px 1.5px 5px 0.5px #e1e1e1;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    border-radius: 0.8rem;
    min-height: 4em;
    width: 35rem;
    align-items: center;
}

.out-card-quantity {
    display: flex;
    justify-content: flex-end;
}

.card-container-left {
    min-width: 18rem;
}

span.card-quantity {
    width: 2.7rem;
    height: 2.7rem;
    background-color: #8257e5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #fff;
}

h4.card-title {
    margin-bottom: 0.5rem;
}

.card-price {
    font-weight: 500;
}

.card-info {
    color: #929292;
    font-size: 1.25rem;
}