ul.box-ul {
  flex-direction: column;
}

.box-ul-box {
  margin: 1rem;
}

.box-button {
  display: flex;
}

.box-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.react-button-out {
  margin: 2rem 1rem;
}
