.Clientes-nav {
    display: flex;
    justify-content: center;
    background-color: #f1f3f9;
    border-radius: 10rem;
    margin-bottom: 2rem;
}

button.ReactButton-in {
    padding: 1rem;
    min-width: 13rem;
    margin: 2rem 1rem;
    background-color: #8257e5;
    border: none;
    border-radius: 0.3rem;
    color: #fff;
    font-weight: 600;
}