/* Layout Fluido
'%' - porcentagem
'auto' - automática
'vh' - viewport height
'vw' - viewport width


Textos Fixos
'1px' = 0.75pt
'16px' = 12pt

texto fluidos
'em' - multiplicado pela pai
'rem' - multiplicado pelo root */

html {
	/* a cada 1rem será considera 10px */
	font-size: 62.5%
}

/* body > iframe {
  pointer-events: none;
} */

body {
	font-size: 1.6rem
}

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: 0;
}

body {
  margin: 0;
  font-family: -apple-system, Muli, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  display: flex;
}

li, a {
  text-decoration: none;
  list-style-type: none;
	color: #ddd;
}

li {
  list-style-type: none;
}

strong.strong-block {
  display: block;
}